@import url('reset.css');

* {
    box-sizing: border-box;
}

body {
    background-image: url("../media/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    margin-bottom: 75px;
    padding: 20px 80px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo-photo {
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
}

.menu-item {
    margin-right: 30px;
}

.logo-photo {
    width: 80px;
    height: 80px;
    border-radius: 25%;
}

.logo-text {
    font-size: 48px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.menu-link {
    font-size: 32px;
    color: black;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: bold;
    transition: all 0.25s;
}

.menu-link:hover {
    color: rgb(245, 78, 209);
}

.main {
    margin-left: 80px;
    margin-right: 80px;
    min-height: 70vh;
}

.page-box {
    display: flex;
    justify-content: center;
}

.page-name {
    margin-bottom: 30px;
    font-size: 48px;
    color: rgb(233, 62, 233);
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: bold;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-info {
    margin-bottom: 50px;
    margin-right: 50px;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 10px 5px rgb(238, 102, 238);
    border-radius: 5%;
}

.contact-photo {
    margin-bottom: 30px;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0 0 10px 5px white;
}

.contact-text {
    font-size: 32px;
    color: white;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

.contact-info {
    font-size: 24px;
    color: white;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: normal;
}

.contact-link {
    color: red;
    transition: all 0.2s;
}

.contact-link:hover {
    color: darkred;
}

.message-form {
    display: flex;
    flex-direction: column;
}

.contact-text {
    margin-bottom: 15px;
}

.user-text {
    color: white;
    font-size: 24px;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: normal;
}

input.input {
    margin: 15px;
    padding: 5px;
    width: 300px;
    height: 50px;
    font-size: 18px;
    background-color: white;
    box-shadow: 0 0 10px 5px white;
}

textarea.input {
    margin: 15px;
    padding: 5px;
    width: 450px;
    height: 150px;
    resize: none;
    font-size: 18px;
    background-color: white;
    box-shadow: 0 0 10px 5px white;
}

.message-btn {
    margin-top: 75px;
    padding: 15px 15px;
    background-color: red;
    border-radius: 10px;
    box-shadow: 0 0 10px 5px red;
    color: white;
    font-size: 24px;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.25s;
}

.map-block {
    margin-bottom: 10px;
    width: 500px;
    height: 500px;
    box-shadow: 0 0 10px 5px white;
}

.message-btn:hover {
    background-color: darkred;
    box-shadow: 0 0 10px 5px darkred;
    color: gray;
}

.footer {
    margin-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    min-height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.developer-text {
    font-size: 24px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .header {
        margin-bottom: 35px;
        min-height: 80px;
    }
    
    .logo-text {
        font-size: 24px;
    }

    .logo-photo {
        width: 60px;
        height: 60px;
    }

    .menu-link {
        font-size: 20px;
    }

    .page-name {
        font-size: 32px;
    }

    .contact-text { 
        font-size: 24px;
    }

    .contact-photo {
        width: 300px;
        height: 300px;
    }

    .contact-info {
        font-size: 18px;
    }

    .user-text {
        font-size: 18px;
    }

    input.input {
        margin: 10px;
        width: 200px;
        height: 50px;
        font-size: 18px;
    }

    textarea.input {
        margin: 15px;
        resize: none;
        width: 250px;
        height: 150px;
        font-size: 18px;
    }

    .message-btn {
        margin-top: 30px;
        padding: 10px 10px;
        font-size: 18px;
    }

    .map-block {
        width: 350px;
        height: 350px;
    }

    .footer {
        margin-top: 25px;
        min-height: 80px;
    }

    .developer-text {
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .header {
        margin-bottom: 25px;
        padding: 10px 10px;
        min-height: 70px;
    }
    
    .logo-text {
        font-size: 20px;
    }

    .logo-photo {
        width: 50px;
        height: 50px;
    }

    .menu-link {
        font-size: 18px;
    }

    .page-name {
        font-size: 28px;
    }

    .contact-text { 
        font-size: 20px;
    }

    .contact-photo {
        width: 270px;
        height: 270px;
    }

    .contact-info {
        font-size: 15px;
    }

    .user-text {
        font-size: 15px;
    }

    input.input {
        width: 190px;
        height: 48px;
        font-size: 15px;
    }

    textarea.input {
        margin: 10px;
        width: 230px;
        height: 140px;
        font-size: 15px;
    }

    .message-btn {
        margin-top: 15px;
        padding: 7px 7px;
        font-size: 15px;
    }

    .map-block {
        width: 330px;
        height: 330px;
    }

    .footer {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 70px;
    }

    .developer-text {
        font-size: 15px;
    }
}