@import url('reset.css');

@import url('reset.css');

* {
    box-sizing: border-box;
}

body {
    background-image: url('/media/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 80px;
    min-height: 120px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    margin-bottom: 75px;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo-photo {
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
}

.menu-item {
    margin-right: 30px;
}

.logo-photo {
    width: 80px;
    height: 80px;
    border-radius: 25%;
}

.logo-text {
    font-size: 48px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.menu-link {
    font-size: 32px;
    color: black;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: bold;
    transition: all 0.25s;
}

.menu-link:hover {
    color: rgb(245, 78, 209);
}

.main {
    margin-left: 80px;
    margin-right: 80px;
    min-height: 70vh;
}

.page-box {
    display: flex;
    justify-content: center;
}

.page-name {
    font-size: 48px;
    margin-bottom: 30px;
    color: rgb(233, 62, 233);
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: bold;
}

.card-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card-info {
    padding: 15px 30px;
    margin-bottom: 50px;
    box-shadow: 0 0 10px 5px rgb(238, 102, 238);
    border-radius: 5%;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-photo {
    margin-bottom: 30px;
    border-radius: 5%;
    text-align: center;
    box-shadow: 0 0 10px 5px white;
}

.contact-text {
    font-size: 32px;
    color: white;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

.contact-info {
    font-size: 24px;
    color: white;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: normal;
}

.contact-link {
    color: red;
    transition: all 0.2s;
}

.contact-link:hover {
    color: darkred;
}

.message-form {
    display: flex;
    flex-direction: column;
}

.contact-text {
    margin-bottom: 15px;
}

.user-text {
    color: white;
    font-size: 24px;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: normal;
}

input.input {
    background-color: white;
    width: 300px;
    height: 50px;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0 0 10px 5px white;
    margin: 15px;
}

textarea.input {
    width: 450px;
    height: 150px;
    background-color: white;
    padding: 5px;
    font-size: 18px;
    box-shadow: 0 0 10px 5px white;
    margin: 15px;
    resize: none;
}

.message-btn {
    margin-top: 75px;
    background-color: red;
    border-radius: 10px;
    padding: 15px 15px;
    box-shadow: 0 0 10px 5px red;
    color: white;
    font-size: 24px;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: normal;
    transition: all 0.25s;
}

.map-block {
    box-shadow: 0 0 10px 5px white;
    width: 500px;
    height: 500px;
}

.message-btn:hover {
    background-color: darkred;
    box-shadow: 0 0 10px 5px darkred;
    color: gray;
}

.footer {
    margin-top: 50px;
    background-color: white;
    min-height: 130px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

.developer-text {
    font-size: 24px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}