@import url('reset.css');

* {
    box-sizing: border-box;
}

body {
    background-image: url('/media/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    margin-bottom: 75px;
    padding: 20px 80px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo-photo {
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
}

.menu-item {
    margin-right: 30px;
}

.logo-photo {
    width: 80px;
    height: 80px;
    border-radius: 25%;
}

.logo-text {
    font-size: 48px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.menu-link {
    font-size: 32px;
    color: black;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: bold;
    transition: all 0.25s;
}

.menu-link:hover {
    color: rgb(245, 78, 209);
}

.main {
    margin-left: 80px;
    margin-right: 80px;
    min-height: 70vh;
}

.page-box {
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.page-name {
    color: rgb(243, 63, 243);
    font-size: 48px;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: bold;
}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.gallery-box {
    margin-right: 25px;
    margin-bottom: 25px;
    width: 360px;
    height: 360px;
    position: relative;
}

.gallery-photo {
    height: 100%;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 0 10px 5px rgb(238, 102, 238);
    transition: all 0.35s;
}

.gallery-photo:hover {
    box-shadow: 0 0 10px 5px red;
}

.footer {
    margin-top: 50px;
    padding-left: 80px;
    padding-right: 80px;
    min-height: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.developer-text {
    font-size: 24px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
    .header {
        min-height: 80px;
        margin-bottom: 35px;
    }
    
    .logo-text {
        font-size: 24px;
    }

    .logo-photo {
        width: 60px;
        height: 60px;
    }

    .menu-link {
        font-size: 20px;
    }

    .page-name {
        font-size: 24px;
    }

    .gallery-box {
        width: 200px;
        height: 200px;
    }

    .footer {
        margin-top: 25px;
        min-height: 80px;
    }

    .developer-text {
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .header {
        margin-bottom: 30px;
        padding: 10px 10px;
        min-height: 70px;
    }
    
    .logo-text {
        font-size: 20px;
    }

    .logo-photo {
        width: 50px;
        height: 50px;
    }

    .menu-link {
        font-size: 18px;
    }

    .page-name {
        font-size: 20px;
    }

    .gallery-box {
        width: 180px;
        height: 180px;
    }

    .footer {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 70px;
    }

    .developer-text {
        font-size: 15px;
    }
}