@import url('reset.css');

* {
    box-sizing: border-box;
}

body {
    background-image: url('/media/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 80px;
    min-height: 120px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo-photo {
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
}

.menu-item {
    margin-right: 30px;
}

.logo-photo {
    width: 80px;
    height: 80px;
    border-radius: 25%;
}

.logo-text {
    font-size: 48px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.menu-link {
    font-size: 32px;
    color: black;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: bold;
    transition: all 0.25s;
}

.menu-link:hover {
    color: rgb(245, 78, 209);
}