@import url('reset.css');

* {
    box-sizing: border-box;
}

body {
    background-image: url('/media/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    margin-bottom: 75px;
    padding: 20px 80px;
    min-height: 120px;
    display: flex;
    justify-content: center;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.header-wrap {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.logo-box {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
}

.menu-item {
    margin-right: 30px;
}

.logo-photo {
    margin-right: 10px;
    width: 80px;
    height: 80px;
    border-radius: 25%;
}

.logo-text {
    font-size: 48px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.menu-link {
    font-size: 32px;
    color: black;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: bold;
    transition: all 0.25s;
}

.menu-link:hover {
    color: rgb(245, 78, 209);
}

.main {
    min-height: 70vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-info {
    margin-right: 50px;
    margin-bottom: 50px;
    padding: 30px 30px;
    width: 750px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5%;
    box-shadow: 0 0 10px 5px white;
}

.card-photo {
    margin: 25px;
    width: 320px;
    height: 320px;
    float: left;
    border-radius: 5%;
    box-shadow: 0 0 10px 5px rgb(238, 102, 238);
}

.card-name {
    font-size: 48px;
    color: rgb(226, 60, 226);
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-style: bold;
}

.card-text {
    margin: 10px;
    font-size: 32px;
    color: white;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer {
    padding-left: 80px;
    padding-right: 80px;
    min-height: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.developer-text {
    font-size: 24px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}

@media screen and (min-width: 800px) and (max-width: 1024px) {
    .header {
        min-height: 80px;
        margin-bottom: 35px;
    }
    
    .logo-text {
        font-size: 24px;
    }

    .logo-photo {
        width: 60px;
        height: 60px;
    }

    .menu-link {
        font-size: 20px;
    }

    .card-photo {
        width: 180px;
        height: 180px;
    }

    .card-info {
        margin-right: 0;
    }

    .card-name {
        font-size: 32px;
    }

    .card-text {
        font-size: 18px;
    }

    .footer {
        margin-top: 25px;
        min-height: 80px;
    }

    .developer-text {
        font-size: 18px;
    }
}

@media screen and (min-width: 600px) and (max-width: 800px) {
    .header {
        margin-bottom: 30px;
        padding: 10px 10px;
        min-height: 70px;
    }
    
    .main {
        margin-left: 15px;
        margin-right: 15px;
    }

    .logo-text {
        font-size: 20px;
    }

    .logo-photo {
        width: 50px;
        height: 50px;
    }

    .menu-link {
        font-size: 18px;
    }

    .card-photo {
        width: 160px;
        height: 160px;
    }

    .card-info {
        margin-right: 0;
    }

    .card-name {
        font-size: 28px;
    }

    .card-text {
        font-size: 15px;
    }

    .footer {
        margin-top: 20px;
        padding-left: 10px;
        padding-right: 10px;
        min-height: 70px;
    }

    .developer-text {
        font-size: 15px;
    }
}