@import url('reset.css');

* {
    box-sizing: border-box;
}

body {
    background-image: url('/media/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    justify-content: center;
    padding: 20px 80px;
    min-height: 120px;
    background-color: white;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    margin-bottom: 75px;
}

.header-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.logo-box {
    display: flex;
    align-items: center;
}

.logo-photo {
    margin-right: 10px;
}

.menu {
    display: flex;
    align-items: center;
}

.menu-list {
    display: flex;
}

.menu-item {
    margin-right: 30px;
}

.logo-photo {
    width: 80px;
    height: 80px;
    border-radius: 25%;
}

.logo-text {
    font-size: 48px;
    font-family: "Dela Gothic One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: black;
}

.menu-link {
    font-size: 32px;
    color: black;
    font-family: "Bitter", serif;
    font-weight: 400;
    font-style: bold;
    transition: all 0.25s;
}

.menu-link:hover {
    color: rgb(245, 78, 209);
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card-info {
    background-color: rgba(0, 0, 0, 0.5);
    width: 750px;
    border-radius: 5%;
    padding: 30px 30px;
    box-shadow: 0 0 10px 5px white;

    display: flex;
    margin-right: 50px;
    margin-bottom: 50px;
}

.card-photo {
    width: 320px;
    height: 320px;
    border-radius: 5%;
    box-shadow: 0 0 10px 5px rgb(238, 102, 238);
    float: left;
    margin: 25px;
}

.card-name {
    color: rgb(226, 60, 226);
    font-size: 48px;
    font-family: "Mulish", sans-serif;
    font-weight: 600;
    font-style: bold;
}

.card-text {
    color: white;
    font-size: 32px;
    margin: 10px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.footer {
    background-color: white;
    min-height: 130px;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 80px;
    padding-right: 80px;
}

.developer-text {
    font-size: 24px;
    font-family: "Mulish", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: underline;
}